@import 'main_color';

body {
    background-color: $body-color;
}

.login-register-box {
    width: 100%;
    background-color: $white;
    padding: 20px;
    border-radius: 2.5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    .box-title{
        text-align: center;
        border-bottom: 1px solid $green;
        margin-bottom: 1rem;
        h5{
            color: $green;
        }
    }
       .form {
        flex-direction: column;

        label {
            display: block;
            margin-bottom: 5px
        }

        input {
            width: 100%;
            outline: none;
            background-color: $body-color;
            padding: 7px 12.5px;
            border-radius: 2.5px;
            border: 1px solid gray;
            font-size: 12.5px;
        }
       
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
       
       .password-box{
        position: relative;
       }
    
        img{
            width: 17px;
            position: absolute;
            right: 10px;
            bottom: 27px;

        }
        .forward,input{
            margin-bottom: 1rem;
        }
        .forward{
            a{
                font-size: 13px;
                text-decoration: underline;
            }
        }
        .submit-btn-box{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button[type="submit"]{
                background-color: $green;
                color: $white;
                border:none;
                border-radius: 5px;
                padding: 5px 17.5px;
                &:active{
                    transform: scale(0.96);
                }
            }

        }
    }
}
.active::-moz-placeholder {
    color: rgb(226, 70, 70) !important;
  }
  
  .active:-ms-input-placeholder {
    color: rgb(226, 70, 70) !important;
  }
  
  .active::placeholder {
    color: rgb(226, 70, 70) !important;
    font-size: 12px;
  }

  .forgot{
    text-align: center !important;
    width: 80% !important;
    margin:0 auto;
    border: none !important;
    span{
        color: $gray;
    }
    h5{
        margin-bottom: 1rem;
        color: $black !important;
    }
  }