@import 'main_color';
@import 'font_family';

@mixin margin-padding-reset{
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    @include margin-padding-reset();
    box-sizing: border-box;
}

a, a:hover{
    text-decoration: none;
    color:$green;
    
}

li{
    list-style: none;
}