@import 'main_color';
@import 'font_family';

@mixin margin-padding-reset {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Mono:wght@300&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    @include margin-padding-reset();
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Poppins', sans-serif;

}

a,
a:hover {
    text-decoration: none;
    color: $black;

}

li {
    list-style: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: $white;
}

.head-height {
    height: 48px;

    .wt-logo {
        img {
            cursor: pointer;
            margin-right: 8px;
        }
    }

    span {
        margin-right: 8px;
    }

    nav {
        ul {
            margin-bottom: 0px;

            li {
                margin-left: 25px;

                a {
                    font-weight: 400;
                    font-size: 13px;
                    transition: 300ms all linear;

                    &:hover {
                        color: $green;
                    }
                }

            }
        }
    }
}

.nav-bottom {
    background-color: $grey;

    .wt-category {
        color: $white;
        font-size: 11.5px;
        background-color: $grey;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: fit-content;
        margin-right: 12.5px;
        padding: 1rem;
        transition: 250ms all linear;

        img {
            width: 40px;
            margin-bottom: 5px;
        }

        &:hover {
            background-color: #1e2020;
        }
    }

    .search-box {
        background-color: $white;
        border-radius: 6px;
        height: 48px;
        width: 75%;
        padding: 0px 20px;

        input {
            border: none;
            outline: none;
            width: 98%;
        }

        a {
            img {
                width: 20px
            }

            ;
        }
    }

    .right-area {
        height: 100%;

        .company-btn {
            border: 1px solid $white;
            padding: 12.5px 25px;
            font-weight: 500;
            color: $white;
            border-radius: 5px;
            transition: 200ms all linear;

            &:hover {
                background-color: $white;
                color: $grey ;
            }
        }

        .operation-box {
            width: 50%;

            .operation {
                margin-left: 40px;

                img {
                    transform: scale(0.90);
                }
            }

            .operation:first-child {
                position: relative;
                transition: 250ms all linear;

                img {
                    &:hover+.login-register {
                        display: flex;
                    }
                }

            }

            .login-register {
                &:hover {
                    display: flex;
                }

                .fill {
                    transform: rotate(45deg);
                    position: relative;
                    top: -24px;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .fill-rotate {
                        background-color: white;
                        width: 20px;
                        height: 20px;

                    }
                }

                display: none;
                flex-direction: column;
                align-items: center;
                position: absolute;
                left: 10px;
                padding: 10px;
                width: 270px;
                background-color: $white;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                left: -122px;
                top:42.5px;

                .title {
                    span {
                        font-size: 15px;
                        color: $gray;
                    }

                    padding-bottom: 10px;
                    border-bottom:1px solid $gray
                }

                .login,
                .register {
                    margin-top: 10px;
                    width: 100%;
                    padding: 10px;
                    text-align: center;
                    border-radius: 5px;

                }

                .login {
                    background-color: $green;
                    color: $white;
                }

                .register {
                    border: 0.5px solid $green;
                    color: $green;
                    transition: 200ms all linear;

                    &:hover {
                        background-color: $green;
                        color: $white;
                    }
                }
            }
        }

        .operation:last-child {
            position: relative;

            .basket-count {
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white;
                background-color: $red;
                border-radius: 100%;
                position: absolute;
                left: 20px;
                bottom: 15px;
                z-index: 1;
                font-size: 15px;
            }
        }
    }
}

// ::-webkit-scrollbar {
//     display: none;
// }
.category::-webkit-scrollbar {
    width: 2.5px;
    transition: 250ms all linear;

}

.category:hover::-webkit-scrollbar {
    width: 4px;
    transition: 250ms all linear;

}


.category::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.category::-webkit-scrollbar-thumb {
    background: $gray;
}

.category::-webkit-scrollbar-thumb:hover {
    background: gray;

}

.category-box {
    opacity: 0;
    transition: 300ms all linear;
}

.category-box.active {
    opacity: 1;
    transition: 300ms all linear;

}

.category {
    width: 100%;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: fit-content;
    max-height: 550px;
    overflow-y: auto;
    position: fixed;
    top: 141px;
    width: 100px;

    .category-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;

        span {
            font-size: 10px;
            color: $gray;
            margin-top: 5px;
        }

        .category-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            img {
                width: 20px;
            }
        }
    }
}

.svg-img {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $b-c-price;
    border-radius: 2.5px;
    border: 1px solid $green;
}

.svg-img img {
    width: 40% !important;
}

footer {
    background-color: #383e42;
    padding: 1.5rem 0px;

    img {
        display: flex;
        justify-content: start;
        width: 70%;
        margin-bottom: 1rem;
    }

    span {
        font-weight: 500;
    }

    ul {
        padding-left: 0;
    }

    h6 {
        margin-top: 0.9rem;
        font-size: 14px;
    }

    h6,
    a,
    span {
        color: $white;
    }

    a {
        font-size: 12px;
        transition: 250ms all linear;

        &:hover {
            color: $gray;
        }
    }

    .border {
        width: 100%;
        border-top: 0.5px solid $white ;
        border-bottom: none;
    }

    .group-icon {
        display: flex;
        margin-top: 10px;
        a {
            margin-left: 1.2rem;
            img {
                width: 20px;
                
            }
        }
    }

}